.blogs-container {
  .blog-item {
    margin: 20px 0px;
    display: flex;
    align-items: center;
    border: 1px dotted #ccc;
    padding: 10px;
    border-radius: 8px;

    img {
      width: 60px;
      margin-right: 20px;
    }
  }
}
