.main-content-parent {
  padding: 50px 0px;
  .about-us-container {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 70px;

    .image-container {
      display: flex;
      align-items: center;
      img {
        width: 40vw;
        border-radius: 8px;
      }
    }

    .desc-container {
      text-align: left;
      width: 45%;
      span {
      }
    }
  }

  .team-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .service-cards-container {
    display: flex;
    flex-direction: row;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .project-cards-container {
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .main-content-parent {
    .about-us-container {
      align-items: center;
      display: flex;
      flex-direction: column;

      .image-container {
        display: flex;
        justify-content: center;

        img {
          width: 60vw;
          border-radius: 8px;
        }
      }
      .desc-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    .service-cards-container {
      display: flex;
      flex-direction: column;
      // grid-template-columns: 1fr 1fr 1fr 1fr;
      // grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }

    .team-cards-container {
      display: grid;
      grid-template-columns: 1fr;
    }

    .project-cards-container {
      display: flex;
      flex-direction: column;
    }

    .view-mopre {
      display: flex;
      justify-content: flex-end;
      color: blue;
      margin-top: 10px;
      font-size: 14px !important;
    }
  }
}
