.item-container{

    display: grid;
    grid-template-columns:  1fr 2fr;
    gap: 50px;
    
    max-width: 80vw;
    margin: auto;
    margin-top: 70px;



    .item {
    
        // border: 1px solid #ccc;
        // border-radius: 4px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        height: 460px;
    
        .img-container {
    
            height: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
    
            img {
                width: 80%;
                // width: auto;
                height: 80%;
            }
        }
    
       
    }

    .item-details{

        border-left: 1px solid #ccc;
        padding-left: 10%;

        .product-name {
            margin-top: 5%;
            font-size: 18px;
        }

        .product-desc{
            margin: 30px 0px;
            font-size: 14px;
        }
        
        .product-price {
            margin-top: 5%;
            display: flex;
            justify-content: space-between;
        }

        .buttons{
            display: flex;
            justify-content: space-between;
            margin-top: 40px;

            // & div:first-child{
            //     background-color: yellow;
            // }

            .add-to-cart{
                background-color: orange;
                color: white;
                width: 40%;

            }

            .add-to-wishlist {
                background-color: black;
                color: white;
                width: 40%;
                // padding: 10px 50px;
            }
        }

    }

}


