@import '../../styles/mixins';

.home-welcome-page {
  text-align: center;
  .app {
    text-align: center;
  }

  .rekit-logo {
    animation: app-logo-spin infinite 10s linear;
    height: 80px;
  }

  .app-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    overflow: hidden;
    position: relative;
  }

  .app-title {
    font-size: 1.5em;
  }

  .app-intro {
    font-size: large;
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul {
    margin-top: 20px;
  }
  li {
    margin-top: 10px;
  }

  a {
    color: #0288d1;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  p.memo {
    width: 500px;
    color: #999;
    font-size: 12px;
    line-height: 150%;
    margin: auto;
  }

  @keyframes app-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.project-card {
  box-shadow: none;
  .project-card-inner {
    display: flex;
    text-align: start;
    justify-content: space-between;
    padding: 50px 20px;
    background-color: #f9f9ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
    z-index: 100;

    &:hover {
      background-color: rgb(144, 172, 209);
      transition: all 200ms ease-in;
    }

    .name-description {
      .sub-title {
        margin-bottom: 10px;
        font-size: 18px;
      }

      .general-text {
        color: #777;
        font-size: 15px;
      }
    }

    .brand {
      display: flex;
      // background-color: red;
      align-items: center;

      .inner {
        background-color: #fff;
        color: #111;
        padding: 12px 10px;
        border-radius: 50px;
        border: 1px solid rgb(144, 172, 209);

        a {
          text-decoration: none;
          &:hover {
            cursor: pointer;
            color: red;
          }
          span {
            color: initial;
          }
        }
      }
    }
  }

  .extended-card {
    background-color: rgb(209, 220, 235);
    padding: 30px 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: -8px;
    z-index: -10;
    position: relative;
  }
}
