@import '../../styles/mixins';


.carousel.carousel-slider {
    position: relative;
    margin: 0;
    overflow: hidden;
    height: 50vh;


    .control-dots .dot {
       
        background: black;
        height: 20px;
        width: 20px;
    }


    
}



.latest-items-container{

    margin-top: 70px;


    .all-latest-items {
        display: flex;
    
        .latest-item {
            min-width: 20%;
            border: 1px solid #333;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 30px 10px;


            .img-container{
                height: 70%;
                display: flex;
                justify-content: center;
                padding: 12px;

                img {
                    // width: 70%;
                    // height: 90%;
                    width: 56%;
                }

            }
    
            

            .product-name{
                text-align: center;
                height: 25%;
                margin-top: 5%;
                padding: 6px;
            }

            .product-price{
                display: flex;
                justify-content: space-between;
                width: 90%;
            }
        }
    }

}


.all-category-items{

    display: flex;
    justify-content: space-between;

    .category-item {
        .img-container {
            img {
                width: 90%;
                border-radius: 6px;
            }
        }

        .category-name{
            text-align: center;
            margin-top: 10px;
        }
    }

}



