* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('../fonts/Poppins-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-Regular';
  src: url('../fonts/Poppins-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../fonts/Poppins-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Poppins-Light', sans-serif;
  position: relative;
}

a,
a:hover {
  text-decoration: none;
}
/* 

/* UTILITY CLASSES STARTS */

.title {
  font-size: 34px;
  font-weight: bold;
  line-height: 1.5;
}

.sub-title {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.1;
  font-family: 'Poppins-Light', sans-serif;
}

.general-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.1;
  font-family: 'Poppins-Light', sans-serif;
}

.general-text {
  font-size: 18px;
  line-height: 1.2;
  font-family: 'Poppins-Light', sans-serif;
}

.bold-text {
  font-size: 18px;
  line-height: 1.2;
  font-family: 'Poppins-Bold', sans-serif;
}

.small-text {
  font-size: 14px;
  line-height: 1.2;
  font-family: 'Poppins-Light', sans-serif;
}

.button {
  background-color: firebrick;
  height: 44px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  font-family: 'Poppins-Light', sans-serif;
}

.white-text {
  color: #ffffff;
  font-family: 'Poppins-Light', sans-serif;
}

.red-text {
  color: red;
  font-family: 'Poppins-Light', sans-serif;
}

.blue-text {
  color: blue;
  font-family: 'Poppins-Light', sans-serif;
}

.content-wrapper {
  max-width: 80vw;
  /* margin: auto; */
  margin-left: 10vw;
  margin-right: 10vw;
}

.dot-line-container {
  display: flex;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 12px;
}

.dot-line-container .dot {
  width: 10px;
  height: 10px;
  background-color: tomato;
  border-radius: 5px;
}

.dot-line-container .line {
  width: 40%;
  height: 2px;
  background-color: tomato;
}

.card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 2px;
}

.items-center {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
}

.logo-size {
  height: 60px;
  width: auto;
}

.center-text {
  text-align: center;
}

.section-padding {
  padding-top: 70px;
  padding-bottom: 70px;
}

.line-dot-line-container {
  position: relative;
}

.line-dot-line-container .line {
  height: 2px;
  width: 200px;
  background-color: tomato;
}

.line-dot-line-container .dot {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: tomato;
  position: absolute;
  top: -4px;
  left: 95px;
}

.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mr10 {
  margin-right: 10px;
}
.mr20 {
  margin-right: 20px;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input {
  height: 46px;
  border-radius: 8px;
  padding: 10px;
}

.browse-all {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}
.browse-all a span {
  color: darkblue;
  font-size: 20px;
}

.browse-all a span:hover {
  color: blue;
  cursor: pointer;
}

.down-arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid black;
}

.arrow-right {
  height: 0px;
  width: 0px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #000;
}
.pb {
  padding-bottom: 20px;
}

/* UTILITY CLASSES ENDS */

/* .carousel-root {
  width: 100%;
} */
