.button-container{
    
    display: flex;
    justify-content: center;
    margin: 20px 0px;

    &:hover{
        cursor: pointer;
    }
    

    .button-container-inner{
        width: 50%;
        height: 48px;
        background-color: blue;
        color: white;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        // box-shadow: -10px -10px 5px 1px black;
    }
}