.contact-section-container {
  background-color: #E45447;
  padding: 50px 40px;
  color: #fff;
  font-weight: bolder;
  .form-header {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .contact-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .numbers {
      display: flex;
      flex-direction: column;
      justify-content: center;

      span {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: bolder;
      }
    }

    .address {
      display: flex;
      align-items: center;
      font-weight: bolder;
    }

    .form {
      form {
        display: flex;
        flex-direction: column;

        input {
          margin-bottom: 10px;
          height: 30px;
          padding: 10px;
        }

        .submit {
          height: 40px;
          background-color: green;
          color: white;
          font-weight: bold;
        }
      }
    }
  }
}
