.social-links {
  display: flex;
  gap: 15px;

  :hover {
    color: red;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .desc {
    padding-left: 30px;
    padding-right: 30px;

    text-align: center;
  }
}
