.reviews-container {
  display: flex;
  

  .review-card {
    // min-width: 80vw;

    .rating {
      .stars {
        width: 100px;
      }
    }
  }
}

@media only screen and (max-width: 600px){

  .reviews-container {
    display: flex;
    justify-content: center;
  }

}
